<div class="carta">
    <div class="loveCard" (click)="toggleCard()" #loveCard>
        <div class="cardFront">
            <div class="wrap-deco">
                <i class="pi pi-heart heart-icon"></i>
                <i class="pi pi-heart heart-icon"></i>
                <i class="pi pi-heart heart-icon"></i>
                <i class="pi pi-heart heart-icon"></i>
                <i class="pi pi-heart heart-icon"></i>
                <i class="pi pi-heart heart-icon"></i>
                <i class="pi pi-heart heart-icon"></i>
                <i class="pi pi-heart heart-icon"></i>
                <i class="pi pi-heart heart-icon"></i>
                <i class="pi pi-heart heart-icon"></i>
                <i class="pi pi-heart heart-icon"></i>
                <i class="pi pi-heart heart-icon"></i>
                <i class="pi pi-heart heart-icon"></i>
                <i class="pi pi-heart heart-icon"></i>
                <i class="pi pi-heart heart-icon"></i>
    
            </div>
            <div class="front-text">
                <h3 class="happy">FELIZ</h3>
                <h2 class="bday">NOSSO DIA</h2> 
                <h3 class="toyou">MEU AMOR</h3>  
            </div>
        </div>  
        <div class="cardInside">
            <div class="inside-text">
                <h3 class="happy">FELIZ</h3>
                <h2 class="bday">DIA 18</h2> 
                <h3 class="toyou">DENGUINHA</h3>  
            </div>
            <div class="wishes">
                <p>Querida Maria Eduarda,</p>
                <p>Venho por meio desta carta dizer que te amo muito, amo sua companhia, sua risada, sua parceria, seu astral, tudo em você. Cada dia com você é uma alegria e aventura única que não trocaria por nada. Você é a melhor pessoa do mundo, te amo demais.</p>
                <p class="name">Lucas Henrique</p>
            </div>
        </div>
    </div>
</div>

