<div class="container-momentos">
    <h1>NOSSOS MOMENTOS</h1>

    <div class="fotos">
        <img src="/assets/img/d1.png" alt="foto">
        <img src="/assets/img/d2.png" alt="foto">
        <img src="/assets/img/d3.png" alt="foto">
        <img src="/assets/img/d4.png" alt="foto">
        <img src="/assets/img/d5.png" alt="foto">
        <img src="/assets/img/d6.png" alt="foto">
        <img src="/assets/img/d7.png" alt="foto">
        <img src="/assets/img/d8.png" alt="foto">
        <img src="/assets/img/d9.png" alt="foto">
        <img src="/assets/img/d10.png" alt="foto">
        <img src="/assets/img/d11.png" alt="foto">
        <img src="/assets/img/d12.png" alt="foto">
        <img src="/assets/img/d13.png" alt="foto">
        <img src="/assets/img/d14.png" alt="foto">
        <img src="/assets/img/d15.png" alt="foto">
        <img src="/assets/img/d16.png" alt="foto">
        <img src="/assets/img/d17.png" alt="foto">
        <img src="/assets/img/d18.png" alt="foto">
    </div>
</div>



